@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <p>This is the yatzy view</p>

    <button onclick="">Play</button>








    <button>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTH0GUKZjsPZBH7beFhne1rJVFyshr1YXcAA&usqp=CAU" />
    </button>
</body>
